#root {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

form {
  display: flex;
  gap: 1ch;
  width: 70%;
  margin: 10px auto;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

main {
  flex: 1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  overflow: hidden;
}

article {
  overflow-y: auto;
}

.puppies {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;

  li {
    display: flex;
    flex-flow:column;
    gap: 1ch;

    figure {
      flex: 1;
      height: 0;
    }
  }
}
.container {
  padding-top: 10px;
  padding-bottom: 10px;
}
.search-container {
  position: relative;
}
.search-input {
  height: 50px;
  border-radius: 30px;
  padding-left: 35px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888;
}
h2 {
  text-align: center;
}